<div class="nav-bar-wrapper">
    <div class="left">
        <div>Golf Scorecard</div>
        --
        <div>{{ courseService.selectedCourseData == undefined ? 'No Course Selected' : courseService.selectedCourseData.name }}</div>
    </div>
    <div class="right" *ngIf="!courseService.selected || playerService.selectedTeeType">
        <div routerLink="/course-select" routerLinkActive="active-link">Home</div>
        <div routerLink="/add-player" class="players-link" routerLinkActive="active-link">Manage Players</div>
        <div routerLink="/scorecard" routerLinkActive="active-link">Scorecard</div>
    </div>
</div> 