<mat-card class="button-wrapper">
    <button mat-raised-button (click)="toggleModal()">Clear Card</button>
    <button mat-raised-button routerLink="/finish-game">Finish Game</button>
</mat-card>

<div class="score-card-wrapper">
    <div class="holes-wrapper">
        <div class="title">Hole Num</div>
        <div *ngFor="let hole of numHoles; let i = index" class="hole">{{ i + 1 }}</div>
    </div>
    <div class="spacer"></div>
    <div class="par-wrapper">
        <div class="title">Par</div>
        <div class="par" *ngFor="let par of selectedCourse.holes">{{ par.teeBoxes[teeTypeIndex].par }}</div>
    </div>
    <div class="spacer"></div>
    <div class="yardage-wrapper">
        <div class="title">Yardage</div>
        <div class="yardage" *ngFor="let yard of selectedCourse.holes">{{ yard.teeBoxes[teeTypeIndex].yards }}</div>
    </div>
    <div class="spacer"></div>
    <div class="handicap-wrapper">
        <div class="title">Handicap</div>
        <div class="handicap" *ngFor="let handicap of selectedCourse.holes">{{ handicap.teeBoxes[teeTypeIndex].hcp }}</div>
    </div>

    <div class="players-wrapper">
        <div class="player-card" *ngFor="let player of players; let a = index">
            <div class="name">{{ player.firstName }}</div>
            <input 
                type="text" 
                *ngFor="let score of numHoles; let b = index" 
                (change)="updateScore(a, b, $event)"
                value='{{ players[a].scores[b] }}'
                [class]="classAssign(a, b)"
            />
        </div>
    </div>
</div>

<mat-card @slideInOut class="score-message" *ngIf="messageShow">
    {{ message }}
</mat-card>

<div class="modal" *ngIf="modalShow" @insertRemove>
    <mat-card class="modal-content">
        <mat-card-title>Are You Sure You Wish To Clear All Scores?</mat-card-title>
        <div class="buttons-wrapper">
            <button mat-raised-button (click)="clearScores()">Yes</button>
            <button mat-raised-button (click)="toggleModal()">Cancel</button>
        </div>
    </mat-card>
</div>