mat-card {
    width: 45%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 28px;

    .form-input-container {
        margin: 0 auto;
        text-align: center;
    }
    h1 {
        font-size: 2.1em;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .spacer {
        margin: 10px 0;
    }
    .buttons-wrapper {
        display: flex;
        margin: 0 auto;
        width: 35%;
        margin-top: 20px;
        justify-content: space-between;
        color: white;
        button:first-child {
            background-color: #34C759;
        }
        button:last-child {
            background-color: #FF4539;
        }
    }
    .button-wrapper {
        display: flex;
        justify-content: center;
        button {
            background-color: #34c759;
            color: white;
        }
    }
}
.existing-game-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    div {
        font-size: 1.2em;
    }
    button {
        background-color: #34C759;
        color: white;
    }
}